@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.warpDiv{
    /* margin-right: 18%;
    margin-left: 18%;
    margin-bottom: 11%; */
}

.imgProfil{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    object-fit: cover;
}

.myCard{
    width: 11rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    margin-left: 0%;
    margin-right: 0%;
}

.myCardTitle{
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius:7px !important;
    color: white !important;
    font-size: 13px;
    text-align: center;

}

.moreTxt{
    color: #75798E;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}

.moreTxt1{
    color: #75798E;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}


.appIcon{
    width: 120px
}

.title{
    text-align: center;
    font-weight: bold;
    font-family: Roboto,sans-serif;
}

.heyTxt{
    font-weight: 500;
    font-family: Roboto, sans-serif;
    min-height: 30px;
    }

.divTitle{
    text-align: center
    }

.myCardText{
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius:7px !important;
    color: white !important;
    font-size: 11px;   
    font-family: 'Roboto',sans-serif; 
    line-height: normal;
    text-align: center;
}


.txtCard{
    color: white;
    
}

.box {
    height: 165px;    
    overflow: hidden;
  }

  
.hid-box {
    top: 6%;
    position: relative;
    transition: all .3s ease-out;
    background: #428bca;
    height: 100%;
  }
  
  .box:hover > .hid-box{
    top: 3%;
  }

  .commingSoon{
    color: white !important;
    font-size: 17px;   
    font-family: 'Roboto',sans-serif; 
    line-height: normal;
    text-align: center;
  }

  .moreBtn{
      cursor: pointer;
      border: solid 1px #ccc;
  }
  .moreBtn1{
    cursor: pointer;
}
.add{
  border: '1px solid black' ;
  margin-left: "342px";

}

  @media only screen and (max-width: 770px) {
      .title{
          font-size: 25px;
          text-align: center;
          font-weight: bold;
          font-family: Roboto,sans-serif;
          /* padding-top: 10%; */
      }

      .in-small-hey{
        padding-top: 3%;
      }
      .moreTxt1{
        color: #75798E;
        text-align: center;
        font-weight: bold;
        font-family: 'Roboto',sans-serif;
        margin-left: 2px;
        margin-bottom: 31px;
    }
  }
  @media only screen and (max-width: 376px) {
    #in-small-profil{
        padding-top: 120%;
      }
      .add{
        margin-bottom: -272px;
    }
  }
  @media screen and (min-width: 377px) and (max-width: 600px){

    #in-small-profil{
        padding-top: 88%;
      }
      /* .add{
        margin-bottom: -242px;
    } */
  }
  @media screen and (min-width: 600px) and (max-width: 700px){

    #in-small-profil{
        padding-top: 50%;
      }}
  @media screen and (min-width: 700px) and (max-width: 1024px){

    #in-small-profil{
        padding-top: 50%;
      }
      .add{
        margin-bottom: -279px;
    }
  }